

* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #0B1D26;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 64px 0 120px 0;
}

.container {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    max-width: 1462px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
}

.title_big {
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
}

.subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;

}

.subtitle::before {
    content: "";
    display: inline-block;
    border-top: 2px solid #FBD784;
    width: 72px;
    vertical-align: middle;
    margin-right: 32px;
}

.read-more {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    text-decoration:none
}

.read-more__text {
    margin-right: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 198px;
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {

}

.header__nav-item {
    display: inline-flex;
    margin-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__account-box {
    display: flex;
    align-items: center;
}

.header__account-img {
    margin-right: 8px;
}

.header__account-text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.intro {
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 843px;
}


.intro__subtitle {
    margin-bottom: 32px;
}
 .intro__title {
    margin-bottom: 32px;
 }

.scroll-down {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.scroll-down__text {
    line-height: 22px;
    margin-right: 16px;
}

.main {

}

.wrapper-01 {
    display: flex;
    padding-left: 150px;
    margin-bottom: 200px;
}

.wrapper-01__content {
    position: relative;
    flex-basis: 632px;
    margin-right: 114px;
    padding-top: 141px;
}

.wrapper-01__number {
    position: absolute;
    z-index: -1;
    left: -126px;
    top: 41px;
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    opacity: 0.1;
    margin: 0;
}


.wrapper-01__subtitle {
    margin-bottom: 27px;
}

.wrapper-01__title {
    max-width: 555px;
    margin-bottom: 27px;
}

.wrapper-01__text {
    margin-bottom: 27px;
}

/* ---------WRAPPER-02----------- */


.wrapper-02 {
    display: flex;
    margin-bottom: 200px;
}

.wrapper-02__number {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: -128px;
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    opacity: 0.1;
}

.wrapper-02__img {
    margin-right: 264px;
}

.wrapper-02__content {
    position: relative;
    flex-basis: 632px;
    margin-right: 114px;
    padding-top: 141px;
}

.wrapper-02__subtitle {
    margin-bottom: 27px;
}

.wrapper-02__title {
    max-width: 555px;
    margin-bottom: 27px;
}

.wrapper-02__text {
    margin-bottom: 27px;
}

/* -----------WRAPPER-03---------- */

.wrapper-03 {
    display: flex;
    padding-left: 150px;
    margin-bottom: 200px;
}

.wrapper-03__number {
    position: absolute;
    z-index: -1;
    left: -126px;
    top: 41px;
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    opacity: 0.1;
}

.wrapper-03__content {
    position: relative;
    flex-basis: 632px;
    margin-right: 114px;
    padding-top: 141px;
}

.wrapper-03__subtitle {
    margin-bottom: 27px;
}

.wrapper-03__title {
    max-width: 555px;
    margin-bottom: 27px;
}

.wrapper-03__text {
    margin-bottom: 27px;
}


/* -----------FOOTER------------ */


.footer {
    max-width: 1462px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}